body{
    background-color: AliceBlue ;
}
 p {
    font-family: Arial;
}
h1, h2, h3 {
     font-family: "Comic Sans MS";
}
h1 {
    text-align : center;
    font-size: 250%;
}
h2 {
    font-size: 150%;
    border-bottom-style: solid;
    border-bottom-color:   CornflowerBlue ;
}
h3 {
    font-size: 110%;
}